<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melo Salud -- Agregar Personal</title>
    <link rel="shortcut icon" href="img/logoIco.png">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="navBarPersonalizado contenedor">
            <a href="http://localhost:4000/"><img alt="logo" src="img/logo.png"></a>
            <input type="checkbox" id="menu-bar" style=" padding: 0 1% 0 0;">
            <label class="icon-menu" for="menu-bar" style=" padding: 0 1% 0 0;"></label>
            <nav class="menu">
                <a href="http://localhost:4000/" class="icon-home"> Inicio</a>
                <a href="http://localhost:4000/add" class="icon-users"> Agregar personal</a>
                <a href="#"><i class="fas fa-edit"></i> Editar Horarios</a>
        
            </nav>
        </div>
    </header>
    <section>
        <div class="container-fluid">
            <form role="form" id="formInsertar" action="add" method="post">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center titulo">Agregar Personal</h1>
                    </div>
                </div>
                <br><br><br>
                <div class="row">
                    <div class="col-md-6">
                
                        <div class="form-group">
                            <label for="exampleInputNumber">
                                Número de cédula:
                            </label>
                            <input type="number" name="cedula" class="form-control" id="exampleInputEmail1" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputText">
                                Nombre:
                            </label>
                            <input type="text" name="name" class="form-control" id="exampleInputPassword1" />
                        </div>
                        <div class="form-group">
                
                            <label for="exampleInputText">
                                Apellidos:
                            </label>

                            <input type="password" name="apellido" class="form-control" id="exampleInputPassword1" />

                            <input type="text" class="form-control" id="exampleInputPassword1" />

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputText">
                                Especialidades:
                            </label>
                            <input type="email" name="especialidad" class="form-control" id="exampleInputEmail1" />
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputDatetime">
                                        Fecha inicio:
                                    </label>
                                    <input type="date" class="form-control" id="exampleInputEmail1" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        Fecha fin:
                                    </label>
                                    <input type="date" class="form-control" id="exampleInputEmail1" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        Hora inicio:
                                    </label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        Hora fin:
                                    </label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-grid gap-2 col-3 mx-auto">
                            <button type="submit" class="btn btn-primary btn-color">
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>


    <!-- Bootsreap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
</body>
</html>