@import url(estilos.css);
@import url(fontello.css);
@import url(signin.css);


.navBarPersonalizado .menu a
{
    color: #5D58D7;
    font-size: 1.5rem;
    font-weight: bold;
}

.navBarPersonalizado .menu a:hover
{
    background-color: #5D58D7;
    color: #ffffff;
}

.titulo
{
    color: #5D58D7;
    font-weight: bold;
}

.espacioDiv
{
    height: 13vh;
}

.input-radius
{
    border-radius: 5rem;
    border-color: #5D58D7;
}

.input-radius::placeholder
{
    color: #5D58D7;
}

.btn-color
{
    background-color: #5D58D7;

    border-radius: 5rem;
}

.tbl-personal
{
    width: 100%;
}

.titulo-tabla
{
    color: #5D58D7;
    font-weight: bold;
    text-align: center;
}

.tabla-pdf
{
    align-items: center;
}

.tablaVisibleBtnVisible
{
    align-items: center;
}